.btn {
    height: 6vh;
    max-width: 460px;
    font-weight: 600;
    font-size:var(--text-base);
    padding: 0.5rem 1rem;
    margin: var(--space-4);
    font-family: var(--font-body);
    border-radius: 40px;
    color: var(--text-dark);
    background-color: var(--background);
    letter-spacing: 1.5px;
    transition: all 0.5s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    letter-spacing: 2.8px;
    color: var(--background);
    background-color: #bed7cf;;
    ;
    background-image: none;
    box-shadow:
        0 20px 20px #bed7cf;

}

.btn:active {
    letter-spacing: 3px;
    background-color:var(--primary);
    color: hsl(0, 0%, 100%);
    box-shadow:  0px 0px 0px var(--primary);
    transform: translateY(8px);
    transition: 200ms;
}