.dashboard-btn {
    min-height: 1rem;
    min-width: 5rem;
    font-weight: 500;
    font-size: var(--text-base);
    padding: 0.65rem 0.5rem;
    font-family: var(--font-body);
    border-radius: 20px;
    color: var(--text-dark);
    background-color: var(--background);
    /* letter-spacing: 0.5px; */
    transition: all 0.5s;
    cursor: pointer;
    border: none;
    text-align: center;
}

.dashboard-btn:hover {
    letter-spacing: 1.7px;
    background-color: var(--background)
}

.dashboard-btn:active {
    letter-spacing: 1.7px;
    background-color: var(--primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    color: hsl(0, 0%, 100%);
    transition: 200ms;
}

.dashboard-btn.selected {
    letter-spacing: 1.7px;
    background-color: var(--primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    color: hsl(0, 0%, 100%);
    transition: 200ms;
}


@media only screen and (min-width: 800px) {
    .dashboard-btn {
        min-height: 2.8rem;
        min-width: 8rem;
        font-weight: 600;
        font-size: var(--text-base);
        padding: 1rem 3.2rem;
        margin: var(--text-xxs);
        font-family: var(--font-body);
        border-radius: 40px;
        color: var(--text-dark);
        background-color: var(--background);
        letter-spacing: 1.2px;
        transition: all 0.5s;
        cursor: pointer;
        border: none;
    }

}