/* loader.css */

/* wrapper: positioned for top-left placement under logo */
.tp-loader-wrapper {
    position: absolute;
    top: 80px;
    /* push down slightly under your logo */
    left: 30px;
    /* small margin from left */
    z-index: 999;
    /* stays above page content */
}

/* make the loader MUCH smaller */
.tp-loader {
    --size-loader: 28px;
    --size-orbe: 6px;
    width: var(--size-loader);
    height: var(--size-loader);
    position: relative;
    transform: rotate(45deg);
}

.tp-orbe {
    position: absolute;
    width: 100%;
    height: 100%;
    --delay: calc(var(--index) * 0.1s);
    animation: tp-orbit ease-in-out 1.5s var(--delay) infinite;
    opacity: calc(1 - calc(0.18 * var(--index)));
}

.tp-orbe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size-orbe);
    height: var(--size-orbe);
    background-color: var(--primary);
    box-shadow: 0px 0px 10px 1px var(--primary);
    border-radius: 50%;
}

/* animation */
@keyframes tp-orbit {
    0% {}

    80% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}