.pulse-dot {
    fill: var(--primary, #A8D8C4);
    animation: pulseDot 5s ease-in-out infinite;
    opacity: 0.85;
    transform-origin: center;
    transform-box: fill-box;


}

@keyframes pulseDot {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    /* rise up */
    26% {
        transform: translateY(-70px) scale(1);
        opacity: 1;
    }
    
    /* float */
    31.5% {
        transform: translateY(-70px) scale(1);
        opacity: 1;
    }

    /* heartbeat 1 */
    51.3% {
        transform: translateY(-72px) scale(1.3);
        opacity: 1;
    }

    57.8% {
        transform: translateY(-72px) scale(1.12);
        opacity: 0.5;
    }
    /* stay on top */

    63% {
        transform: translateY(-72px) scale(1.2);
        opacity: 1;
    }
    
    /* return */
    89% {
        transform: scale(1);
        opacity: 1;
    }
    
    /* returned and stay */
    100% {
        transform: scale(1);
        opacity: 1;
    }
    

    100% {
        transform: scale(1);
        opacity: 1;
    }
}