

.logout-text {
    color: var(--text-dark);
    font-size: var(--text-lg);
    cursor: pointer;
    font-weight: 500;
    padding: var(--space-3) var(--space-6);
}

.logout-text:hover {
    text-decoration: underline;
}
.navbar {
    width: 100%;
    align-items: center;
}

@media only screen and (min-width: 800px) {



}